.modal{
    --bs-modal-width: 75%;
}
h2 span{
    font-family: 'El Messiri', sans-serif!important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.planBox{
  margin-top: 1.4rem;
  border: solid 1px #f3b900;
  border-radius: 0.5rem;
  padding: 0.8rem 0.5rem;
  position: relative;
  min-height: 2rem;
}

hr{
  margin: 0.5rem ;
  width: 80%;
  margin: auto;
}

////////////
.wrapper {
  overflow: auto;
  border-radius: 10px;
  border: 1px solid rgba(16, 74, 143, 0.25);
}
.jobRolesDescriptions{
    border-radius: 0.3rem;
    border: solid 1px rgb(172, 172, 172);
    min-height: 3.5rem;
    // overflow: auto;
    color: #104A8F;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;

  width:100%;
  max-width: 100%;
}

th,td{
  padding: 10px;
  border: 1px solid #CCCCCC;
  color: #000;
}
.mainTile{
  color: var(--Primary-Text, #171B1E);
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 800;
}
.subTile{
  color: var(--Primary-Text, #171B1E);
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.15rem;
  font-weight: 800;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: #666;
  --bs-table-bg-type: #FFF!important;
}
.table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-color-type: #666;
  --bs-table-bg-type: #FEFBF2!important;
}
.login{
  border-radius: 6px;
  background: #F3B900;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #FFF;
}