.modal{
    --bs-modal-width: 75%;
}
.fa-layer-group{
    color: #8A2BE2;
    transition: 0.2s;
  }
  .fa-layer-group:hover{
    background-color:#8A2BE2!important;
    color:#FFF!important;
  }
h1{
  font-family: 'El Messiri', sans-serif!important;
}