.modal{
    --bs-modal-width: 75%;
}
.fa-layer-group{
    color: #8A2BE2;
    transition: 0.2s;
  }
  .fa-layer-group:hover{
    background-color:#8A2BE2!important;
    color:#FFF!important;
  }
h1{
  font-family: 'El Messiri', sans-serif!important;
}

.view{
  border-radius: 55px;
border: 1px solid #F3B900;
background: #FFF;
padding-right: 25px;
padding-left: 25px;
}
th{
  text-decoration: underline;
}
.font_Coloered3:before{
  content: '';
  padding-left: 0.7rem;
  border-left: solid 0.32rem gray;
}