button a {
    text-decoration: none;
    color:#FFF;
}
.modal{
    --bs-modal-width: 70%;
}
td a{
    text-decoration: none;
    color:#FFF ;
    background-color:#3f51b5 ;
    font-family: 'El Messiri', sans-serif!important;

}