<div class="wrapper">
    <!-- <h1 class="text-center">مرحبا بك في تجربه المستخدم لمصر للتأمين التكافلي <br> (Test Server)</h1> -->
    <h1 class="text-center">Test Server</h1>
    <!-- <p class="text-center"> <img src="../../../../assets/imgs/rocket 2.png" alt="RocketImage" style="width: 8%;"> جاهز للإنطلاق ؟</p>   -->
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
    <div><span class="dot"></span></div>
  </div>