
    //Side Nav
mat-sidenav-container{
  min-height: 92.4vh;
}
// .mat-drawer-inner-container{
//       overflow: initial!important
// }
mat-sidenav{
  width:250px;
}

app-sidebar {
  min-height: 80vh!important;
}

.loaderContent{
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-sidenav-content{
  min-height: 92.4vh;
  // min-height: 97vh;
  // background-image: url(../assets/imgs/light_dot.jpg)!important;
  box-shadow: rgb(180, 178, 178) -5px 3px 5px 0px inset!important;
  // box-shadow: rgb(180, 178, 178) -5 -5 -5 -5 inset!important;

}

