<div id="requstedProposal print">
    <div class="container-fluid">
        <div class="d-flex justify-content-between mx-5">
            <div class="d-flex align-items-center">
                <p class="font_Coloered3 text-center my-4 mx-3"  style="color: grey;">Requested Proposal</p>
                <!-- <button data-bs-toggle="modal" data-bs-target="#AddPlan"  mat-raised-button color="primary">{{'Shared.AddNew'|translate}}</button> -->
            </div>
            <input class="form-control w-25 ml-auto mt-3" style="height: 3rem;"  placeholder="{{'Shared.SearchHere'|translate}}" />
        </div>
        <div class="outerBorder outerItem shadow_5 table-responsive">
            <table class="Prentable">
                <thead style="border-bottom: 3px solid black;">
                    <tr>
                        <th style="color: white !important;">Silver</th>
                        <td style="color: white !important;background-color:#345f92 !important;">المزايــــا<br>Benfits</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="color:#345f92;">28</th>
                        <td>عــدد المشتركيــن لكل خطــة<br>No. Of Members</td>
                    </tr>
                    <tr>
                        <th>25,000</th>
                        <td>الحد األقصى للتغطية الطبية للفرد سنوياً<br>Annual Maximum Limit PPPY (LE)</td>
                    </tr>
                    <tr>
                        <th>داخل جمهورية مصر العربية<br>Inside Egypt</th>
                        <td>النطاق الجغرافي للتغطية الطبية<br>Geographical Scope Of Coverage</td>
                    </tr>
                    <tr>
                        <th>تغطي الحاالت الطارئة التي تنشأ اثناء رحالت السفر بحد اقصي 90 يوم اقامة بتغطية %80 علي اساس االسترداد النقدي وفقا السعار التعاقد مع مصر الدولي<br>The emergency cases during the trips are covered up to a maximum of 90 days of stay with 80% coverage according to contracted rates of International Misr Hospital</th>
                        <td>التغطية خارج جمهورية مصر العربية<br>Outside Egypt</td>
                    </tr>
                    <tr>
                        <th>خدمة مباشرة<br>Direct Access</th>
                        <td>نوع الخــدمة الطبية<br>Type Of Service</td>
                    </tr>
                </tbody>
            </table>
            
            <table class="mt-5 Prentable">
                <!-- <img src="../../../../assets/imgs/WhatsApp Image 2024-06-12 at 11.37.57 AM.jpeg"> -->
                <thead style="border-bottom: 3px solid black;">
                    <!-- <tr>
                        <th style="color: white !important;">Silver</th>
                        <td style="color: white !important;background-color:darkslateblue !important;">المزايــــا<br>Benfits</td>
                    </tr> -->
                    <tr>
                        <th colspan="2" style="color: white;"><span class="mx-4">Inpatient</span>العالج الداخلي بالمستشفيـات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>تغطية كاملة<br>Fully Covered</th>
                        <td>داخل الهيئة الطبية<br>Inside The Network</td>
                    </tr>
                    <tr>
                        <th>غرفة مفردة<br>Single Room</th>
                        <td>درجة اإلقامة<br>Accommodation Class</td>
                    </tr>
                    <tr>
                        <th>تغطية كاملة<br>Covered up to AML</th>
                        <td>الحد األقصى لإلقامة بالرعاية المركزة<br>Intensive Care Unit</td>
                    </tr>
                    <tr>
                        <th>شبكة كاملة<br>General Network<br>Tier 003</th>
                        <td>الشبكه الطبية<br>Type of Medical Network</td>
                    </tr>
                    <tr>
                        <th>تغطية كاملة<br>Covered up to AML</th>
                        <td>النقل بسيارة اإلسعاف المجهزة<br>Ambulance</td>
                    </tr>
                    <tr>
                        <th>تغطية كاملة إذا لم تكن سابقة على التعاقد<br>Fully covered, if not pre-existing</th>
                        <td>التركيبات والدعامات<br>prothesis and Stents</td>
                    </tr>
                    <tr>
                        <th>تغطية كاملة في حاالت الطواريء فقط فيما عدا ذلك يرد %70 بحسب أسعار التعاقد مع مستشفى مصر الدولي<br>Fully Covered for Emergency Cases only , Except that70% covered according to contracted rates of international Misr Hospital</th>
                        <td>خارج الهيئة الطبية<br>Outside the Network</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>





<!-- <table class="table table-dark">
    <thead>
      ...
    </thead>
    <tbody>
      <tr class="table-active">
        ...
      </tr>
      <tr>
        ...
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2" class="table-active">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->