<div class="container">
    <div class="row mt-3">
        <!-- Customer -->
        <div class="col-lg-3 col-md-6">
            <div class="small-box bg-info  ">
                <div class="inner">
                    <h2>Customer</h2>
                    <p class="fs-6"> <strong>8</strong> Customers</p>
                </div>
                <div class="icon">
                    <img src="../../../../assets/imgs/Customers.png">
                </div>
                <div class="m-auto box-footer">
                    <a class="text-center">Manage Customers <i class="fa-solid fa-arrow-right"></i></a> 
                </div>
            </div>
        </div>
        <!-- Offers -->
        <div class="col-lg-3 col-md-6">
            <div class="small-box bg_yellow">
                <div class="inner">
                    <h2>Offers</h2>
                    <p class="fs-6"> <strong>7</strong> Offers</p>

                </div>
                <div class="icon">
                    <img src="../../../../assets/imgs/Discount.png">
                </div>
                <div class="m-auto box-footer">
                    <a class="text-center">Manage Offers <i class="fa-solid fa-arrow-right"></i></a> 
                </div>
            </div>
        </div>
        <!-- Admins -->
        <div class="col-lg-3 col-md-6">
            <div class="small-box bg_green">
                <div class="inner">
                    <h2>Admins</h2>
                    <p class="fs-6"> <strong>3</strong> Admin</p>
                </div>
                <div class="icon">
                    <img src="../../../../assets/imgs/user.png">
                </div>
                <div class="m-auto box-footer">
                    <a class="text-center">Manage Admins<i class="fa-solid fa-arrow-right"></i></a> 
                </div>
            </div>
        </div>
        <!-- Users -->
        <div class="col-lg-3 col-md-6">
            <div class="small-box bg_red">
                <div class="inner">
                    <h2>Users</h2>
                    <p class="fs-6"> <strong>10</strong> Users</p>
                </div>
                <div class="icon">
                    <img src="../../../../assets/imgs/Target Users.png">
                </div>
                <div class="m-auto box-footer">
                    <a class="text-center">Manage Users<i class="fa-solid fa-arrow-right"></i></a> 
                </div>
            </div>
        </div>
    </div>

                   <!-- // Charts -->
    <div class="inner_Charts shadow_2 mt-3">
        <!-- <div class="d-flex justify-content-between">
            <p>Claims</p>
            <p>From</p> 
            <p>to</p>
            <p>Claims</p>

        </div>
        <h1>$ 98,452.44</h1> -->
        <div class="row">
            <div class="col-4">
                <p class="claims-header">Claims</p>
                <span class="claims-number">$ 98,452.44</span>
            </div>
            <div class="col-4 mt-2">
                <div class="row">
                    <div class="col-6">
                        <p class="claims-header" style="font-size: 14px;">From</p>
                        <span class="claims-number" style="font-size: 18px;">01/23</span>
                    </div>
                    <div class="col-6">
                        <p class="claims-header" style="font-size: 14px;">To</p>
                        <span class="claims-number" style="font-size: 18px;">07/23</span>
                    </div>
                </div>
            </div>
            <div class="col-4" style="position: relative;">
                <i class="fa-solid fa-ellipsis-vertical" style="position: absolute; right: 50px;"></i>
            </div>
        </div>
        <div class="row py-4">
            <div class="three-color-background"></div>

        </div>
    </div>
       
                
    <div class="row mt-3">
        <!-- Reports -->
        <div class="col-lg-3 col-md-6">
            <div class="small-box bg_yellow">
                <div class="inner">
                    <h2>Reports</h2>
                    <p class="fs-6"> <strong>20</strong> Reports</p>
                </div>
                <div class="icon">
                    <img src="../../../../assets/imgs/File.png">
                </div>
                <div class="m-auto box-footer">
                    <a class="text-center">Manage Reports <i class="fa-solid fa-arrow-right"></i></a> 
                </div>
            </div>
        </div>
        <!-- Settings -->
        <div class="col-lg-3 col-md-6">
            <div class="small-box bg_red">
                <div class="inner">
                    <h2>Settings</h2>
                    <p class="fs-6"> <strong>Check</strong> Settings</p>
                </div>
                <div class="icon">
                    <img src="../../../../assets/imgs/Setting.png">
                </div>
                <div class="m-auto box-footer">
                    <a class="text-center">Update Settings <i class="fa-solid fa-arrow-right"></i></a> 
                </div>
            </div>
        </div>
        <!-- Claims -->
        <div class="col-lg-3 col-md-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h2>Claims</h2>
                    <p class="fs-6"> <strong>139</strong> Claim</p>
                </div>
                <div class="icon">
                    <img src="../../../../assets/imgs/Insurance.png">
                </div>
                <div class="m-auto box-footer">
                    <a class="text-center">Manage Claims <i class="fa-solid fa-arrow-right"></i></a> 
                </div>
            </div>
        </div>
    </div>
</div>