#signUp{
    min-height: 90vh;
}
.inner{
    border-radius: 0.6rem;
}
.register{
    border-radius: 6px;
    background: #F3B900;
}
.add-user{
    color: #F3B900;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 1px;
}
// .form-group {
//     display: flex;
//     align-items: center;
//     margin-bottom: 10px;

// }
// .form-group label {
//     color: #2A2A2A;
//     font-family: "Nunito Sans";
//     font-size: 18px;
//     font-weight: 500;
// }

