.modal{
    --bs-modal-width: 75%;
}
.font_Coloered3:before{
    content: '';
    padding-left: 0.7rem;
    border-left: solid 0.32rem gray;
  }
  th{
    text-decoration: underline;
  }
  .font_Coloered3:before{
    content: '';
    padding-left: 0.7rem;
    border-left: solid 0.32rem gray;
  }