.modal{
    --bs-modal-width: 70%;
}
.font_Coloered3:before{
    content: '';
    padding-left: 0.7rem;
    border-left: solid 0.32rem gray;
  }
//   label{
//     color: #2A2A2A;
//     font-family: "Nunito Sans";
//     font-size: 15px;
//     font-weight: 600;
//     }