form{
    overflow: auto;
}
.Add-offer{
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
label {
    // margin-right: 10px;
    color: #2A2A2A;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 500;
}