     <!-- Navbar -->

     <nav class="navbar navbar-expand-lg w-100 py-2 Non-prentable">
      <div class="container-fluid">
        <div class="d-flex w-50">
          <a href class="d-flex align-items-center"><img src="../../../../assets/imgs/obelisky logo 1.png" class="ml-auto mx-4" style="width:65%;" alt="logo"></a>
    
        </div>
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav  mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link text_nav mx-2" aria-current="page" routerLink="/Exam">Exam</a>
              </li> -->
            </ul>
            <!-- <a class="nav-link text_nav mx-2" routerLink="/addCustomer">{{'UserInfo.AddCustomer'|translate}}</a> -->
            <!-- <p>{{'UserInfo.FirstName' | translate}}</p> -->
    
            <select id="selectLanguage" (change)="getLanguage($event)">
              <option value="en">English</option>
              <option value="ar">العربيه</option>
            </select>
            <div class="profile px-2 py-2 d-flex align-items-center mx-3">
              <div>AH</div>
            </div>
            <button *ngIf="!this._AuthService.isLoggedIn()" class="btn btn_test mx-1" routerLink="/login">{{'Shared.Login'|translate}}</button>
            <button *ngIf="this._AuthService.isLoggedIn()" (click)="logOut()" class="btn btn_test mx-1">{{'Shared.Logout'|translate}}</button>  
            
          </div>
      </div>
    </nav>
    <div class="socNav d-flex align-items-center">
      <div style="margin-left: 12rem;" class="mt-1">
        <div (click)="handleSideBar()" style="cursor: pointer;" *ngIf="this._AuthService.isLoggedIn()" id="menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
    
    
    