.fa-download{
    transition: 0.2s;
  }
.fa-upload{
  transition: 0.2s;

}
.fa-download:hover{
    background-color:green!important;
    color:#FFF!important;
    cursor: pointer;
}
.fa-upload:hover{
  background-color:green!important;
  color:#FFF!important;
  cursor: pointer;
}
.fa-cloud-arrow-up{
cursor: pointer;
}
.modal{
  --bs-modal-width: 75%;
}
h2 span{
  font-family: 'El Messiri', sans-serif!important;
}


////////////
.wrapper {
  overflow: auto;
  border-radius: 10px;
  border: 1px solid rgba(16, 74, 143, 0.25);
}
.jobRolesDescriptions{
    border-radius: 0.3rem;
    border: solid 1px rgb(172, 172, 172);
    min-height: 3.5rem;
    // overflow: auto;
    color: #104A8F;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;

  width:100%;
  max-width: 100%;
}

th,td{
  padding: 10px;
  border: 1px solid #CCCCCC;
  color: #000;
}