<div id="Uplaod-Group_file">
    <div class="container">
        <!-- Header  -->
        <div class="d-flex justify-content-between mx-4 pt-3">
            <div class="d-flex">
                <p class="font_Coloered3 text-center my-4">{{'Shared.Add'|translate}} {{'Offer.Group'|translate}}</p>
                <div class="Download mt-2">
                    <i *ngIf="this.Type==2" (click)="getTempleteFile()" class="text-success fa-solid fa-download fs-3 px-2 py-1 mt-3" style="border-radius: 7px;"></i>
                    <!-- <i  class="text-success fa-solid fa-spinner fa-spin fs-3 px-2 py-2 mt-2"></i> -->
                </div>
                <button (click)="this._location.back()" mat-stroked-button color="primary" class="mt-3 mx-2">Back</button>
            </div>
            <button *ngIf="this.Type==2" data-bs-toggle="modal" data-bs-target="#ViewGroup" mat-raised-button color="primary" class="mt-3">{{'Offer.CurrentGroup'|translate}}</button>
            
           
        </div>
        <!-- Body -->
        <div class="outerBorder shadow_5">
            <h2 class="fs-4"><span class="text-muted">{{'Shared.AddOnlyExcelFile'|translate}}</span> </h2>
            <!-- File Upload -->  
            <div class="row" >
                <div class="col-md-6 d-flex align-items-center">
               
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-center">
                                <div>
                                    <i (click)="fileInput.click()" class="fa-solid fa-cloud-arrow-up fs-2 px-2 py-2" style="color:#3F51B5;border-radius: 5px;"></i>
                                    <input accept=".xlsx" hidden (change)="uploadFile($event)" #fileInput type="file">
                                    <span class="file-name">{{selectedFile?.name}}</span>
                                </div>
                            </div>
                            <div *ngIf="this.selectedFile!=null" class="col-md-6">
                                <img src="../../../../assets/imgs/excel.png" alt="excel File">
                            </div>
                            
                        </div>
               
                </div>
                <div class="col-md-6">
                    <img src="../../../../assets/imgs/employees.svg" class="w-100">
                </div>
                <div class="d-flex justify-content-between">
                    <button (click)="SaveGroup()" class="w-25 my-2" [disabled]="this.isClickedDocumnet || this.selectedFile==null" mat-raised-button color="primary"><span *ngIf="this.isClickedDocumnet">{{'Shared.Uploading'|translate}} <i class="fa-solid fa-spinner fa-spin"></i></span><span *ngIf="!this.isClickedDocumnet">{{'Shared.Upload'|translate}} <i class="fa-solid fa-floppy-disk"></i></span></button>
                    <!-- <button *ngIf="this.AllPolicyGroup!=null" class="w-25 my-2" routerLink="/SelectPlanToPolicy/{{this.PolicyId}}"  mat-raised-button color="accent">Proceed</button> -->
                            
                </div>
                <!-- After Upload -->
                <div id="afterUpload" style="display: none;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="wrapper mt-5" >
                                <table  class="custom_table text-center bordered">
                                    <thead>
                                        <th>Plan</th>
                                        <th>Edge Band</th>
                                        <th>No.</th>
                                        <th>NRP</th>
                                    </thead>
                                    <tbody>
                                        <tr style="vertical-align: middle;">
                                            <td>B</td>
                                            <td>0-17</td>
                                            <td>1</td>
                                            <td>500</td>
                                        </tr>
                                        <tr style="vertical-align: middle;">
                                            <td>B</td>
                                            <td>18-25</td>
                                            <td>2</td>
                                            <td>1000</td>
                                        </tr>
                                        
                                    </tbody>
            
                                </table>
                            </div>
                            <p class="fs-6 mt-2"> Do you have Loss Ratio experience for the client ?</p>
                            <mat-radio-group color="primary" (change)="getSelectedOption($event.value)">
                                <mat-radio-button value="true">Yes</mat-radio-button>
                                <mat-radio-button value="false">No</mat-radio-button>
                            </mat-radio-group>
                                <!-- HaveLoseRatio -->
                            <div class="shadow_5 p-3 mt-2" id="HaveLoseRatio" style="display: none; border-radius: 0.6rem;">
                                <form [formGroup]="HaveLoseForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="formGroup">
                                                <label>TLR<span style="color: red;">*</span></label>
                                                <input formControlName="targetLossRatio" class="form-control mt-2" type="number">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="formGroup">
                                                <label>Loss Ratio<span style="color: red;">*</span></label>
                                                <input formControlName="lossRatio" class="form-control mt-2" type="number">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <button [disabled]="isClicked||this.HaveLoseForm.status=='INVALID'" (click)="FinalSavePricing()" mat-raised-button color="primary" class="mt-2">
                                    <span *ngIf="!isClicked">Save & Proceed</span>
                                    <span *ngIf="isClicked"><i class="fa fa-soild fa-fan fa-spin"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
        </div> 
    </div>
        <!--------------------------------------- Current Entered Group Modal --------------------------->
        <div class="modal fade" id="ViewGroup" tabindex="-1" aria-labelledby="networkCoding" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="networkCoding">{{'Offer.CurrentGroup'|translate}}</h1>
                    </div>
    
                    <div class="container">
                        <!-- Header -->
                        <!-- <div class="d-flex justify-content-between mx-4 pt-3">
                            <p class="font_Coloered3 text-center my-3">Current Group </p>
                            <button routerLink="/UploadGroupFile/{{this.PolicyId}}" mat-raised-button color="primary" class="mt-3">Add New</button>
                        </div> -->
                        <!-- Body -->
                        <div class="outerItem outerBorder shadow_5" style="overflow: auto;">
                            <table class="table table-striped text-center">
                                <thead class="tableHead">
                                    <th class="py-2">{{'addCustomer.Name'|translate}}</th>
                                    <th class="py-2">{{'Offer.GroupRel'|translate}}</th>
                                    <th class="py-2">{{'addCustomer.D.O.B'|translate}}</th>
                                    <th class="py-2">{{'addCustomer.age'}}</th>
                                    <th class="py-2">Assigned Plan</th>
                                    <th class="py-2">{{'addCustomer.Notes'|translate}}notes</th>
                                    
                                </thead>
                                <tbody>
                                    
                                    <tr *ngFor="let item of AllPolicyGroup">
                                        <td class="align-middle py-3">{{item.name}}</td>
                                        <td class="align-middle py-3">{{item.groupRel}}</td>
                                        <td class="align-middle py-3">{{item.dateOfBirth|date:'shortDate'}}</td>
                                        <td class="align-middle py-3">{{item.age}}</td>
                                        <td class="align-middle py-3">{{item?.plan?.planName}}</td>  
                                        <td class="align-middle py-3">{{item.notes}}</td>  
                
                                    </tr>
                                </tbody>
                
                            </table>
                            <div id="loading" *ngIf="loading">
                                <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer py-3">
                        <button type="button" mat-raised-button
                            data-bs-dismiss="modal">{{'Shared.Close'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
</div>
